<h1> Listings </h1>

<div id="listings" class="transitiions-enabled">
    <% @listings.each do |listing| %>
      <div class="box panel panel-default">
        <%= image_tag listing.image.url(:medium) %>
        <div class="panel-body">
        <%= listing.user.email if listing.user %>
        <%= listing.city %>
        <%= listing.address %>
        <%= listing.suite %>
        <%= listing.size %>
        <%= listing.building_type %>
        <%= listing.building_class %>
        <%= listing.asking_rate %>
        <%= listing.opex %>
        <%= listing.lease_type %>
        <%= listing.brokerage %>
        <%= listing.notes %>
        <%= link_to 'Show', listing %>
        <% if listing.user == current_user %>
          <%= link_to 'Edit', edit_listing_path(listing) %>
          <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    </div>
  </div>
  <% end %>
</div>
