<h1> Listings </h1>

<div id="listings" class="transitiions-enabled">
    <% @listings.each do |listing| %>
      <div class="box panel panel-default">
        <%= link_to image_tag(listing.image.url(:medium)), listing %>
        <div class="panel-body"><br/>
        <strong><%= listing.user.name if listing.user %></strong>
        <%= listing.city %>
        <%= listing.address %>
        <%= listing.suite %>
        <%= listing.size %>
        <%= listing.building_type %>
        <%= listing.building_class %>
        <%= listing.asking_rate %>
        <%= listing.opex %>
        <%= listing.lease_type %>
        <%= listing.brokerage %>
        <%= listing.notes %>
        <% if listing.user == current_user %>
          <div class="actions">
            <%= link_to edit_listing_path(listing) do %>
            <span class="glyphicon glyphicon-edit"></span>
            Edit
            <% end %>
            <%= link_to listing, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
            Delete
            <% end %>
            </div>
        <% end %>
        </div>
    </div>
    <% end %>
</div>

<div class="center">
<%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
</div>